.custom_btn,
.btn_text {
  background-color: var(--primaryColor) !important;
  color: var(--main-color) !important;

  font-family: "Raleway", sans-serif !important;

  font-size: 11pt;
  font-weight: 700;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  cursor: pointer;
  display: inline-block;
  height: 3.5em;
  letter-spacing: 0.11em;
  line-height: 3.65em;
  overflow: hidden;
  padding: 0 1.3em;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

/* .custom_btn :active {
  background-color: var(--ternaryColor) !important;
} */

.custom_btn:hover {
  background-color: var(--ternaryColor) !important;
}

.btn_text:hover{
   background-color: var(--ternaryColor) !important;
 
}

.MuiButton-text:hover{
  background-color: var(--ternaryColor) !important;

}