/* wrapper */
.nav.header.navbar.navbar-expand.navbar-light.sticky-top {
  display: flex !important;
  margin: 0 auto !important;
  align-items: right !important;
  justify-content: space-between !important;
  width: 100%;
}

/* navbarContainer */

div.navbar-collapse.collapse {
  display: flex !important;
  justify-content: space-between !important;
  margin: 0 auto !important;
  width: 90% !important;

  align-items: right !important;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
/* button-wrapper */
div.header_right {
  display: flex !important;
  justify-content: right !important;
  flex-direction: row !important;
  align-items: right !important;
}

.MuiButton-text {
  padding: 1vh 1vh !important;
}

.navbar-expand {
  flex-wrap: nowrap !important;
  justify-content: flex-end !important;
}
