/* .header {
  display: flex!important;
  padding: 0 1vh 0 0 !important ;
  background-color: white !important;
  letter-spacing: 0.11em !important;
  align-content: flex-end!important;
}

.header .header_navlink {
  padding: 0 !important;
}

.header .header_link {
  font-weight: 500 !important;
  color: var(--title-text-color) !important;
}

.header .header_link:hover {
  color: var(--primaryColor) !important;
}

.header .header_link_active {
  font-weight: 600;
  color: var(--primaryColor) !important;
}



.header .header_left {
  margin-right: auto !important;
}

.header .header_right {
  display: flex !important;
  align-items: center !important;
 
}



.header .header_right > a > .MuiSvgIcon-root {
  font-size: 3vh !important;
  margin-right: 1vh !important;
  color: var(--primaryColor) !important;
}

 :hover {
  color: var(--ternaryColor) !important;
} 



div.navbar-collapse.collapse{

}
 */

/* wrapper */
.nav.header.navbar.navbar-expand.navbar-light.sticky-top {
  display: flex !important;
  margin: 0 auto !important;
  align-items: right !important;
  justify-content: space-between !important;
  width: 100%;
}

/* navbarContainer */

div.navbar-collapse.collapse {
  display: flex !important;
  justify-content: space-between !important;
  margin: 0 auto !important;
  width: 90% !important;

  align-items: right!important;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
/* button-wrapper */
div.header_right {
  display: flex !important;
  justify-content: right !important;
  flex-direction: row !important;
  align-items: right !important;
}

.MuiButton-text {
  padding: 1vh 1vh !important;
}

.navbar-expand {
  flex-wrap: nowrap !important;
  justify-content: flex-end !important;
}
