.timeline {
  padding: 0 !important;
}

/* Header title */

.timeline .timeline_header {
  padding-top: 0.6vh;
  font-size: 2vh !important;
  font-weight: 600 !important;
  position: relative !important;
  margin: 0 !important;
  color: var(--title-text-color);
}

.timeline .timeline_firstItem {
  min-height: 80px !important;
}

/* This edits the line in the middle and its lenght*/

.timeline .MuiTimelineItem-root {
  min-height: 30px !important;
}

/* Delete this one below if you don't want it centered */

.timeline .MuiTimelineItem-missingOppositeContent:before {
  display: none;
}

.timeline .timeline_dot_header {
  font-size: medium !important;
  padding: 10px !important;
  background-color: var( --buttonsColor);
}

/* smaller dots */

.timeline .timeline_dot {
    border-color:  var( --buttonsColor);
    padding: 2px !important;
}

.timeline .MuiTimelineConnector-root {
  background-color: var( --connectorsColor);
}

.timeline .timeline_dot_header > .MuiSvgIcon-root {
  font-size: 20px;
  color: var(--main-color);
}

.timeline .separator_padding {
  padding-left: 15.5px !important;
}

.timeline .timeline_content {
  padding-top: 0px !important;
  margin-bottom: 20px;
}
