.timeline {
  padding: 0 !important;
}

/* header titles */
.timeline .timeline_header {
  padding-left: 1vh;
  font-size: calc(12px + 0.2vw) !important;
  font-weight: 600 !important;
  position: absolute !important;
  top: 50%;
  margin: 0 !important;
  color: var(--title-text-color);
  transform: translate(0, -50%);
}

.timeline_title {
  font-weight: 700 !important;
  padding-left: 1.5em;
  text-transform: capitalize;
}

.timeline .timeline_firstItem {
  min-height: 80px !important;
}

/* this edits the line in the middle and its lenght*/
.timeline .MuiTimelineItem-root {
  min-height: 30px !important;
}

/*  centered */
.timeline .MuiTimelineItem-missingOppositeContent:before {
  display: none;
}

.timeline .timeline_dot_header {
  font-size: medium !important;
  padding: 10px !important;
  background-color: var(--buttonsColor);
}

/* smaller dots */

.timeline .timeline_dot {
  border-color: var(--buttonsColor);
  padding: 2px !important;
}

.timeline .MuiTimelineConnector-root {
  background-color: var(--connectorsColor);
}

.timeline .timeline_dot_header > .MuiSvgIcon-root {
  font-size: calc(10px + 0.25vw);
  color: var(--main-color);
}

.timeline .separator_padding {
  padding-left: 2vh !important;
}

.timeline .timeline_content {
  padding-top: 0px !important;
  margin-bottom: 2vh;
}

/* Timeline Dates */
.MuiTypography-caption {
  font-family: "Raleway", sans-serif !important;
  padding-left: 1.5em !important;
}

.timelineItem_text {
  color: var(--text-color);
  font-weight: 400 !important;
  text-decoration: none;
}

.timelineItem_text > span {
  color: var(--title-text-color);
}
