.footer {
  background-color: var(--primaryColor);
  color: var(--footerText) !important;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 2vh;
  padding: 2vh 3vh;
}

.footer .footer_copyright {
  font-size: 0.85em;
  text-align: center;
  color: var(--footerText) !important;
}

.footer .footer_copyright > a.footerTextName {
  text-decoration: none;
  color: var(--main-color);
}

.footer .footer.name {
  font-size: 0.85em;
}

a.footerTextName {
  color: var(--main-color) !important;
}
