/* Software Section */
.software {
  height: 100%;
  text-align: center;
}

.software .software_title {
  line-height: 3vh !important;
  text-align: center;
}

.software .software_description {
  text-align: center;
}

.software_icon > .MuiSvgIcon-root {
  font-size: 4vh !important;
  margin-left: 0 !important;
  font-weight: 300 !important;
}

/* experience */
div.MuiGrid-root.cvContainer.MuiGrid-item {
  margin-bottom: 3vh!important;
}
