.aboutme_text {
  line-height: 2.5vh !important;
  white-space: pre-line !important;
}

/* work experience */

.timeline_title{
font-weight: 700!important;
}

.timeline_description{
  margin-top: 1vh!important;
}

/* Software Section */

.software {
  height: 100%;
  text-align: center;
}

.software .software_title {
  line-height: 3vh !important;
  text-align: center;
}

.software .software_description {
  text-align: center;
}

.software_icon > .MuiSvgIcon-root {
  font-size: 4vh !important;
  margin-left: 0 !important;
  font-weight: 300 !important;
}
/* End of Software Section */

/* Skills */

.skill {
  border-radius: 2vh;
  padding: 3vh;
  min-height: 5vh;
  height: 100%;
}

.skill .skill_title {
/*   line-height: 2vh !important;
 */}

.skill .skill_description {
  display: flex;
  align-items: center;
  line-height: 2vh !important;
}

.skill .skill_description .timeline_dot {
  border-color: var(--title-text-color) !important;
  padding: 0.2vh !important;
  margin-right: 1vh !important;
}
/* End of Skills */
