/* Software Section */
.software {
  height: 100%;
  text-align: center;
}

.software .software_title {
  line-height: 3vh !important;
  text-align: center;
}

.software .software_description {
  text-align: center;
}

.software_icon > .MuiSvgIcon-root {
  font-size: 4vh !important;
  margin-left: 0 !important;
  font-weight: 300 !important;
}

/* experience */
div.MuiGrid-root.cvContainer.MuiGrid-item {
  margin-bottom: 3vh !important;
}

#root
  > div
  > div
  > div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-true
  > div.main-content
  > div:nth-child(3)
  > div.MuiGrid-root.section_title.mb_30.MuiGrid-item.MuiGrid-grid-xs-12 {
  flex-basis: initial !important;
}

/* strong projects */

/* width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box; */

#root
  > div
  > div
  > div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-true
  > div.main-content
  > div:nth-child(3)
  > div:nth-child(2)
  > div
  > div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
