:root {
  --app-base: #e4e1e1;
  --main-color: white;
  --text-color: #616161;

  --primaryColor: #4e8eb0;
  --footerColor: rgb(91, 172, 216);
  --navColor1: #4e8eb0d5;
  --secondaryColor: #55a7d3;
  --ternaryColor: rgb(109, 161, 190);
  --highlightColor: #d15c5c;
  --highlightHover: #d38585;
}

* {
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: var( --main-color)!important;
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
